<script setup lang="ts">
import { ref, watch } from 'vue'

const weight = ref(0)
const height = ref(0)
const result = ref(0)

function bmi(w: number, h: number) {
  let hcm = h / 100
  result.value = w / (hcm * hcm)
}
</script>
<template>
  <div style="text-align: center">
    <div style="background-color: rgb(231, 229, 229); width: 1100px; margin-left: 110px">
      <br /><br />
      <h2 style="color: green;">Program Calculate BMI created by Thanaphat Ketsanee 65160169</h2>
      <h3>น้ำหนักตัว(kg.)</h3>
      <input type="number" min="0" class="inp" v-model="weight" />
      <h3>ส่วนสูง(cm.)</h3>
      <input type="number" min="0" class="inp" v-model="height" /><br /><br />
      <button class="btn" id="bord" @click="bmi(weight, height)"><h3>คำนวณ</h3></button>
      <br /><br />
      <div id="bord" style="background-color: whitesmoke; width: 500px; margin-left: 302px">
        <br />
        <h4>BMI</h4>
        <h3 style="font-size: 20pt" v-if="weight != 0 && height != 0">{{ result.toFixed(2) }}</h3>
        <h3 style="font-size: 20pt" v-else>0.00</h3>
        <br />
      </div>
      <br /><br />
    </div>
    <br /><br />
    <div style="text-align: center; margin-left: 260px;">
      <table style="font-size: 18pt;" border = 1>
        <tr style="text-align: center">
          <td>BMI KG/m^2</td>
          <td>อยู่ในเกณท์</td>
          <td>ภาวะเสี่ยงต่อโรค</td>
        </tr>
        <tr :class="{ activate: result < 18.5 && result != 0 ? true : false }">
          <td>น้อยกว่า 18.50</td>
          <td>น้ำหนักน้อย</td>
          <td>ผอม มากกว่าคนปกติ</td>
        </tr>
        <tr :class="{ activate: result >= 18.5 && result <= 22.9 ? true : false }">
          <td>ระหว่าง 18.50 - 22.90 ปกติ</td>
          <td>ปกติ (สุขภาพดี)</td>
          <td>เท่าคนปกติ</td>
        </tr>
        <tr :class="{ activate: result >= 23 && result <= 24.9 ? true : false }">
          <td>ระหว่าง 23 - 24.90</td>
          <td>ท้วม</td>
          <td>โรคอ้วนระดับ 1 อันตรายระดับ 1</td>
        </tr>
        <tr :class="{ activate: result >= 25 && result <= 29.9 ? true : false }">
          <td>ระหว่าง 25 - 29.90</td>
          <td>อ้วน</td>
          <td>โรคอ้วนระดับ 2 อันตรายระดับ 2</td>
        </tr>
        <tr :class="{ activate: result >= 30 ? true : false }">
          <td>มากกว่า 30 อ้วนมาก</td>
          <td>อ้วนมาก / โรคอ้วนระดับ 3</td>
          <td>อันตรายระดับ 3</td>
        </tr>
      </table>
      <br><br><br>
    </div>
  </div>
</template>
<style scoped>
.btn {
  width: 505px;
  background-color: rgb(217, 215, 215);
}
.btn:hover {
  background-color: rgb(188, 188, 188);
}
.inp {
  width: 500px;
  height: 40px;
  font-size: 20pt;
  color: blue;
}
#bord {
  border: 0px;
  border-radius: 10px;
}
.activate {
  background-color: #9896f0;
}
</style>
