<script setup lang="ts">
import { ref, reactive } from 'vue';

const dynamicId = ref("myId")
const titleClass = ref("title")
const myClasses = reactive({
    red: true,
    bgBlack: false, //ถ้าเป็น true มันจะมีพื้นหลังสีดำตามที่กำหนดเอาไว้
    bold: true
})
myClasses.red = false;

const myStyle = reactive({
    fontSize: '30pt',
    border: '2pt',
    borderStyle: 'solid'
})
</script>
<template>
    <div :id="dynamicId" :class="titleClass">{{ dynamicId }}</div> <!--v-bind คือ คำสั่ง directive คือ attribute ใดๆก็ตามที่อยู่ข้างหลัง
    : จะมีค่าตามตัวแปรที่เราได้ทำการ bind ในที่นี้คือ dynamicId และ v-bind:class คือ เอาค่าที่อยู่ใน titleClass คือ title ทีร่เป็น string
    เอามาใส่ในค่า class แล้วเรากำหนด class ใน style ให้ color เป็น red myId เลยเป็นสีแดง -->
    <!--ถ้าจะนิยาม v-bind ง่ายๆเลยก็คือว่ามันเอาไว้เชื่อมตัวแปรกับ attribute -->
    <br>
    <div :id="dynamicId" :class="myClasses" :style="myStyle">{{ dynamicId }}</div>
</template>
<style scoped>
.title{
    color: red;
}
.red{
    color: red;
}
.bgBlack{
    background-color: black;
}
.bold{
    font-weight: bold;
}
</style>