<script setup lang="ts">
import { reactive, ref } from 'vue';

const counter = reactive({ //reactive ใช้ได้กับ object เท่านั้น
    count: 0               //v model
});
console.log(counter.count)
counter.count++

const message = ref("Hello World")
console.log(message.value);
message.value = "change"
console.log(message);
</script> 
<template>
    <div>
        <h1>{{ message.split('').reverse().join('') }} <!--Binding--></h1><br>    <!--View-->
        <p>count is: {{ counter.count }} <!--Binding--></p>              <!--View-->
    </div>
</template>
<style scoped>
</style>