<script setup lang="ts">
import { reactive, ref, watch } from 'vue';

const count = ref(0);

watch(count ,function(newCount,oldCount){
    console.log(`count change ${oldCount} -> ${newCount}`);
})

function increment(){
    count.value++;
}

const myClasses = reactive({
    red: true,
    bgGreen: true, //ถ้าเป็น true มันจะมีพื้นหลังสีดำตามที่กำหนดเอาไว้
    bold: true,
    bgBlue: true
})
</script>
<template>
    <br>
    <button @click="increment" v-bind:class="myClasses">count is -> {{ count }}</button><br>
    <pre>{{ myClasses }}</pre> <br>
    <button @click="(myClasses.red = !myClasses.red),(myClasses.bgBlue = !myClasses.bgBlue)">red</button>
    <button @click="myClasses.bgGreen = !myClasses.bgGreen">BGgreen</button>
    <button @click="myClasses.bold = !myClasses.bold">bold</button>
</template>
<style scoped>
.title{
    color: red;
}
.red{
    color: red;
}
.bgGreen{
    background-color: green;
}
.bold{
    font-weight: bold;
}
.bgBlue{
    background-color: blue;
}
</style>