<script setup lang="ts">
import { computed, ref, type Ref } from 'vue';

type Todo = {
    id:number
    text: string
    done: boolean
}
let id = 0;
const newTodo = ref('');
const todos:Ref<Todo[]> = ref([
    {id: id++, text: 'Learn HTML',done: true},
    {id: id++, text: 'Learn Javascript',done: true},
    {id: id++, text: 'Learn Vue',done:false},
])

function addTodo(e: any){
    e.preventDefault(); //มีไว้เพื่อไม่ให้ เกิดการ refresh
    todos.value.push({id: id++,text: newTodo.value, done:false}); 
    newTodo.value = '';
}
function removetodo(todo: Todo){
    todos.value = todos.value.filter((t) => t !== id);
    //todos.value = todos.value.filter((t)  => t.id !== id);
    // const index = todos.value.findIndex((t) => t.id === id);
    // todos.value.splice(index,1);
//     const index = todos.value.indexOf(todo);
//     todos.value.splice(index, 1);
}

const num1 = ref(0);
const num2 = ref(0);

const hidecompleted = ref(false);
// function Cal(){
//     result.value = num1.value + num2.value;
// }

const result = computed(() => num1.value + num2.value )

const filterTodo = computed(() => {
    if(hidecompleted.value){
        return todos.value.filter((t) => !t.done)
    }else{
        return todos.value;
    }
})
</script>
<template>
    <input type="text" v-model.number="num1"/>+<input type="text" v-model.number="num2"/> = {{ result }} 
    <button>Calculate</button>
    <div>{{ todos }}</div><br>
    <div>{{ newTodo }}</div>
    <form @submit.prevent="addTodo">
        <input type="text" v-model="newTodo">
        <button>Add todo</button>
    </form>
    <br>
    <ul>
        <li v-for="todo in filterTodo" :key="todo.id" :class="{done: todo.done}">
            <input type="checkbox" v-model="todo.done">{{ todo.text }}
            <button @click="removetodo(todo)">X</button></li>
    </ul>
    <button @click="hidecompleted= !hidecompleted">{{ hidecompleted?"Hide":"Show All" }}</button>
</template>
<style scoped>
.done{
    text-decoration: line-through;
}
</style>