<script setup lang="ts">
import DeclarativeRendering from './components/DeclarativeRendering.vue';
import AttributeBinding from './components/AttributeBinding.vue';
import EventListeners from './components/EventListeners.vue';
import FormBinding from './components/FormBinding.vue';
import ConditionRendering from './components/ConditionRendering.vue';
import ListRendering from './components/ListRendering.vue';
import BMIView from './views/BMIView.vue';
</script>

<template>
  <BMIView/>
</template>